<%-include("header")-%>

    <nav class="navbar navbar-expand-lg navbar-dark shadow bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                
            </a>
        </div>
    </nav>
<%-include("footer")-%>